@{
    ViewData["Title"] = "Home Page";
}

<div>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Gene" asp-action="CancerModel">Cancer</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Salary" asp-action="Salary">Salary Prediction</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="SpaceMission" asp-action="SpaceMissionHome">Space Mission Prediction</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Destiny2" asp-action="Destiny2">Destiny2</a>
        </li>
    </ul>

</div>


