@{
    ViewData["Title"] = "Home Page";
}

<div>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Salary" asp-action="Salary">Salary Prediction</a>
        </li>
    </ul>

</div>


