@model SpaceMissionModel
@*
<style>
    .background {
        background-image: url("~/galaxy.png");
        background-color: blue;
    }   
</style>*@

@*<html class="background">*@

   @* <div class="background">*@
<form asp-controller="SpaceMission" asp-action="SpaceMissionResultPage" method="post">
    <div>
        <div>
            <h2>
                Enter Data for Mission Prediction
                        
            </h2>
        </div>

        <div>
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" />
            <span asp-validation-for="CompanyName"></span>
        </div>

        <div>
            <label asp-for="Location"></label>
            <input asp-for="Location" />
            <span asp-validation-for="Location"></span>
        </div>

        <div>
            <label asp-for="StatusRocket"></label>
            <input asp-for="StatusRocket" />
            <span asp-validation-for="StatusRocket"></span>
        </div>

        <div>
            <label asp-for="RocketCost"></label>
            <input asp-for="RocketCost" />
            <span asp-validation-for="RocketCost"></span>
        </div>

        <button type="submit">
            Predict Mission Success
        </button>
    </div>

</form>
@*
    </div>*@

@*</html>*@